<!DOCTYPE HTML>

<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">
    <div id="wrapper">
        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("SidebarPartial")
        @RenderBody()
    </div>
    @await Html.PartialAsync("ScriptPartial")
</body>
</html>